<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
	<resultMap id="OderInfoResultMap" type="OrderInfo" autoMapping="true">
		<id property="order_no" column="order_no" /><!-- id 생략 불가 property -> 
			VO 필드, column -> 테이블 -->
		<!-- <result property="order_dt" column="order_dt"/> autoMapping으로 VO필드와 
			컬럼명이 일치하면 생략 가능 -->
		<association property="order_c" javaType="Customer" autoMapping="true">
			<id property="id" column="order_id" />
		</association>
		<collection property="lines" ofType="OrderLine" autoMapping="true">
			<id property="order_no" column="order_no" />
			<id property="order_p.prod_no" column="order_prod_no" /><!-- ORDER_PROD_NO -->
			<association property="order_p" javaType="Product" autoMapping="true">
				<id property="prod_no" column="order_prod_no" />
			</association>
		</collection>
	</resultMap>

	<insert id="insertInfo" parameterType="string">
		INSERT
		INTO order_info
		(order_no, order_id, order_dt)
		VALUES
		(order_seq.NEXTVAL, #{order_id}, SYSDATE)
	</insert>
	<insert id="insertLines" parameterType="OrderLine">
		INSERT
		INTO order_line
		(order_no, order_prod_no, order_quantity)
		VALUES
		(order_seq.CURRVAL, #{order_p.prod_no}, #{order_quantity})
	</insert>
	<select id="selectById" resultMap="OderInfoResultMap">
		SELECT
		oi.order_no order_no
		, oi.order_id order_id
		, oi.order_dt order_dt
		, ol.order_prod_no
		, ol.order_quantity order_quantity
		, p.prod_name prod_name
		, p.prod_price prod_price
		, p.prod_price * ol.order_quantity as total
		FROM order_info oi
		JOIN order_line ol
		ON oi.order_no = ol.order_no
		JOIN product p
		ON ol.order_prod_no = p.prod_no
		WHERE 1=1
		AND oi.order_id = #{order_id}
	</select>
</mapper>