<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>back40</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://localhost/back25/my-tag</taglib-uri>
			<taglib-location>/my.tld</taglib-location>
		</taglib>
	</jsp-config>
	<context-param>
		<param-name>pm</param-name>
		<param-value>WooYeonHui</param-value>
	</context-param>
	<context-param>
		<param-name>version</param-name>
		<param-value>1.0</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>

	<!-- The mappings for the JSP servlet -->
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.my.listener.MyServletListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.my.listener.MySessionAttributeListener</listener-class>
	</listener>
	<filter>
		<display-name>MyFilter</display-name>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.my.filter.MyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>AFilter</display-name>
		<filter-name>AFilter</filter-name>
		<filter-class>com.my.filter.AFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
</web-app>